* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0rem 1rem;
  font-family: Arial, sans-serif;
  background-image: url("bgdark.png");
}

h3 {
  color: antiquewhite;
  font-size: 20pt;
  text-align: center;
}

p {
  color: antiquewhite;
  font-size: 12pt;
}

.title-div {
  display: flex;
  background-color: rgba(46, 46, 46, 0.78);
  border-radius: 10px;
  justify-content: center;
  margin: 0 auto;
  padding: 0rem 1rem 0rem 1rem;
}

.loading-text {
  margin: 0rem 0rem;
}

.title-section {
  text-align: center;
  padding: 28px;
}

.text-section {
  background-color: rgba(46, 46, 46, 0.78);
  padding: 0rem 1rem 0rem 1rem;
  display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.row img {
  width: calc(100% / 3);
  padding: 1.5rem;
}

.column {
  width: calc(100% / 3);
  padding: 1.5rem;
}

.footer {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.image-grid {
  background-color: rgba(46, 46, 46, 0.78);
  padding: 2rem;
}

a:visited {
  color: rgb(219, 101, 255);
}

a {
  color: rgb(40, 141, 230);
}